.inputNumber{
	width:17%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 11px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
#mycatalogue{
	width: 200px;

}
.navbar-nav li{
	padding-right: 40px;
}
.navbar{
	background-color: #E9ECEF;
	color: black;
}
header{
	border-bottom: 1px solid grey;
	height: 700px;
}
.card-img-top{
	height: 200px;
}	
body{
	background-color:#A27945; 
}
.card{
	width: 90%;
	background-color: white;
	color: #0F0F67;
}
.row{
	margin-bottom: 100px;
}
footer{
	border-top: 1px solid black;
	height: 360px;
	background-color:#282923;
	color: white;
	padding-top: 30px;
}
footer h2{
	font-size: 25px;
}
footer p{
	font-size: 13px;
}
footer span{
	position: relative;
	top: 40px;
}
#copy{
	position: relative;
	top: 50px;
}
button{
	width: 100%;
}
#carouselExampleIndicators{
	width: 100%;
	height: 100%;
}
#miniAnimation p{
	position: relative;
	left: -50%;
	display: inline;
	font-weight: bold;

	animation-name:deuxiemeP;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
@keyframes deuxiemeP {
  50% {left: 40%;color: yellow;}
  100% {left: 80%; color: white;}
}

#miniAnimation{
	background-image: linear-gradient(to right, #B87F4D , #FDE4AB);
	margin-top: 53px;
}

/*	MES ANIMATIONS ET LES LISTENERS*/	
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #282923;
  border-radius: 3px;
}
.overlay:hover{
	opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#boutonPanier{
	transition: .9s ease;
	margin:0px auto;
	width: 30%;
	height: 40px;
}
#boutonPanier:hover{
	box-shadow: 0px 0px 0px 4px;
	width: 50%;
}

/*couleur que jaime
#FFB291
#FFB288
#FFAF82*/

@media screen and (min-width: 320px) {			/*samsung galaxy 5*/
}
@media screen and (min-width: 360px) {			/*samsung galaxy 5*/
}
@media screen and (max-width: 378px) {			/*iphone 6/7/8/x*/
}
@media screen and (max-width: 418px) {			/*iphone 6/7/8 plus*/

}
@media screen and (max-width: 769px) {			/*ipad*/
}

@media screen and (min-width: 1000px) {			/*ipad pro*/
}