.hero-container1 {
    grid-area: a1;
}

.hero-container2 {
    grid-area: a2;
}

.hero-container3 {
    grid-area: a3;
}

.hero-container4 {
    grid-area: a4;
}

.hero-container5 {
    grid-area: a5;
}

.overlay-container {
    position: relative;
}

.heros-section {
    margin: 4rem;
    display: grid;
    grid-template-areas: 'a1 a2 a3 a4''a5 a5 a5 a5';
    grid-gap: .2rem;
    --my-border-radius: .8rem;
}

.img-hero {
    display: block;
    width: 100%;
    height: auto;
}

.my-overlay, .my-overlay-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.my-overlay-fixed{
    height: 100%;
    opacity: 1;
}

.overlay-container:hover .my-overlay,
.overlay-container.active .my-overlay {
    height: 100%;
    opacity: 1;
}

.my-overlay h3, .my-overlay-fixed h1 {
    font-size:1.7em;
    font-weight: 500;
    margin: .5em; 
    color: white;
    text-align: center;
}

.my-overlay-fixed h1 {
    font-size:2em;
    font-weight: 400;
    line-height: 1.6;
    padding: 0 5vw;
}
.img1,
.hero-container1,
.o1 {
    border-top-left-radius: var(--my-border-radius);
    border-bottom-left-radius: 0;
}

.img4,
.hero-container4,
.o4 {
    border-top-right-radius: var(--my-border-radius);
    border-bottom-right-radius: 0;
}

@media(max-width:1024px) {

    .heros-section {
        grid-template-areas: 'a1 a2'
            'a5 a5'
            'a3 a4';
        grid-gap: .2rem;
        --my-border-radius: .7rem;
    }
    .my-overlay-fixed h1{
        font-size: 1.6em;
    }
    .img1,
    .hero-container1,
    .o1 {
        border-top-left-radius: var(--my-border-radius);
        border-bottom-left-radius: 0;
    }

    .img2,
    .hero-container2,
    .o2 {
        border-top-right-radius: var(--my-border-radius);
    }

    .img3,
    .hero-container3,
    .o3 {
        border-bottom-left-radius: var(--my-border-radius);
    }

    .img4,
    .hero-container4,
    .o4 {
        border-bottom-right-radius: var(--my-border-radius);
        border-top-right-radius: 0;
    }

}

@media(min-width:1800px) {

    .heros-section {
        grid-gap: .4rem;
        --my-border-radius: 1rem;
    }
}

@media(max-width:767px) {

    .hero-container5 {
        display: none;
    }

    .heros-section {
        grid-template-areas: 'a1'
            'a2'
            'a3'
            'a4';
        grid-gap: .1rem;
        --my-border-radius: .6rem;
    }

    .img1,
    .hero-container1,
    .o1 {
        border-top-left-radius: var(--my-border-radius);
        border-top-right-radius: var(--my-border-radius);
    }

    .img2,
    .hero-container2,
    .o2 {
        border-top-right-radius: 0;
    }

    .img3,
    .hero-container3,
    .o3 {
        border-bottom-left-radius: 0;
    }

    .img4,
    .hero-container4,
    .o4 {
        border-bottom-right-radius: var(--my-border-radius);
        border-bottom-left-radius: var(--my-border-radius);
    }
}
