.discover-button {
    background: var(--main-color);
    color: white;
    text-shadow: 1px 1px 10px black;
    border: none;
    padding: .2em .5em;
    border-radius: .2em;
}

.discover-button: hover {
    background: black;
}
