
header {
    box-shadow: 0px 2px 20px -10px black;
    z-index: -1;
  }

  
#tarjeta {
  display: inline;
  padding: 20px;
  margin-bottom: 20px;
}
  .preNav {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    border-top: 1px solid #666674;
    background-image: url('../IMAGENES/mujer.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: .3em;
  }
  .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  .logoHolder {
    border-bottom: 1px solid #666674;
    border-top: 1px solid #666674;
    background: rgb(4, 5, 5, 0.5);
    padding: .8rem;
  }
  
  .navBar {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #666674;
  }
  
  .logoContainer {
    margin: 0rem 2rem;
    padding: 1rem;
  }
  
  .responsiveContainer {
    display: flex;
    flex-Direction: row;
  }
  
  .logo {
    font-weight: bold;
    color: #666674;
    text-decoration: none;
    letter-spacing: .3em;
  }
  .burger {
    display: none;
    position: absolute;
    cursor: pointer;
    top: .4rem;
    left: 2.7rem;
  }
  
  .burger div {
    border: 0rem;
    padding: .2rem;
    background: black;
    margin: .3rem;
    width: 2.5rem;
  }
  
  .links {
    list-style: none;
    display: flex;
    flex-Direction: row;
    justify-content: flex-end;
    padding: 0rem 0rem 0rem 1rem;
    margin: 0px;
  }
  
  .link {
    position: relative;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-bottom: .2rem solid white;
    transition-property: background, color;
    transition-duration: 100ms;
  }
  
  .link.active {
    border-color: var(--main-color);
  }
  
  li.link:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  
  .link:hover {
    border-color: var(--main-color);
  }
  
  .link ul {
    border: 1px solid #666674;
    padding: 0rem;
    list-style: none;
    color: black;
    background: white;
    position: absolute;
    top: 3.4rem;
    left: .5rem;
    display: none;
    box-shadow: 0px 2px 20px -10px black;
    border-radius: 7px;
    z-index: 1;
  }
  
  .link ul li {
    padding: 1rem 5rem 1rem 1rem;
  }
  
  
  .link ul li:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #FFFFFF;
  }
  
  
  .link ul li:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  
  .link ul li:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .link ul.active {
    display: block;
  }
  .burger {
    display: none;
    position: absolute;
    cursor: pointer;
    top: .4rem;
    left: 2.7rem;
  }
  /*--------------- cards---------*/
  
  #hr {
    margin: 0;
    border-top: 3px solid transparent;
  }
  
  
  /* Product section styling */
  
  .products {
    padding: 20px;
    margin: 20px;
    padding-bottom: 80px;
  }
  
  .buttons button {
    margin: 5px;
  }
  
  .item {
    color: black;
    background: #F5F7F7;
    width: 31%;
    margin: 1.1%;
    display: inline-block;
    flex-direction: row;
    align-items: baseline;
    border: 1px solid #c9cccc;
    padding: 2rem;
    transition-property: padding;
    transition-duration: 1000ms;
  }
  
  .productsHeader {
    margin-bottom: 30px;  
  }
  
  @media(max-width:767px) {
    .navBar {
        flex-direction: row;
    }
  
    .logo {
        letter-spacing: 0;
    }
  
    .links {
        display: flex;
        flex-Direction: row;
        justify-content: center;
        padding: 1rem 2.5rem;
    }
  
    .links.hide {
        display: none;
    }
  
    .logoContainer {
        margin-left: auto;
    }
  
    .burger {
        display: block;
    }
  
    .link {
        padding: .7rem 1.5rem .7rem 1.5rem;
        cursor: pointer;
    }
  
    .link:hover {
        background: var(--main-color);
        border-color: var(--main-color);
        color: #FFFFFF;
    }
  
    li.link:first-child {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }
  
    li.link:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
  
    .link ul {
        position: static;
        margin-top: 1rem;
        box-shadow: none;
        border: none;
    }
  
    .link ul li {
        Position: static;
        background: var(--main-color);
        color: #FFFFFF;
    }
  
    .link ul li:hover {
        background: white;
        color: black;
    }
  }
  
  @media (max-width:375px) {
    .burger {
        top: .3rem;
        left: 1.7rem;
    }
  
    .logo {
        letter-spacing: 0;
    }
  }
  
  @media (min-width:768px) and (max-width:820px) {
    .link {
        padding: 1rem 1rem;
    }
  
    .logo {
        letter-spacing: 0;
    }
  }
  

.title1 {
    letter-spacing: .1em;
    font-size: 28px;
    font-weight: 500;
}

wiw:hover {
    text-decoration: underline;
    cursor: default;
}

a{
 text-decoration: none;
 color: rgb(0, 0, 0);
}
.card {
    display: inline-block;
}

@media(max-width:320px) {
    .title1 {
        font-size: 21px;
    }
}

@media(max-width:360px) {
    .title1 {
        font-size: 22px;
    }
}

@media(max-width:400px) {
    .title1 {
        font-size: 23px;
    }
}

@media(max-width:440px) {
    .title1 {
        font-size: 24px;
    }
}

@media(max-width:480px) {
    .title1 {
        font-size: 25px;
    }
}
