/*------------------hero-------------------*/
.hero-container1 {
  grid-area: a1;
}

.hero-container2 {
  grid-area: a2;
}

.hero-container3 {
  grid-area: a3;
}

.hero-container4 {
  grid-area: a4;
}

.hero-container5 {
  grid-area: a5;
  
}

.overlay-container {
  position: relative;
}

.heros-section {
  margin: 4rem;
  display: grid;
  grid-template-areas: 'a1 a2 a3 a4''a5 a5 a5 a5';
  grid-gap: .2rem;
  --my-border-radius: .8rem;
}

.img-hero {
  display: block;
  width: 100%;
  height: auto;
}

.my-overlay,
.my-overlay-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(150, 150, 150, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.my-overlay-fixed {
  height: 100%;
  opacity: 0;
}

.overlay-container:hover .my-overlay,
.overlay-container.active .my-overlay {
  height: 100%;
}

.my-overlay h3,
.my-overlay-fixed h1 {
  font-size: 1.7em;
  font-weight: 500;
  margin: .5em;
  color: white;
  text-align: center;
}

.my-overlay-fixed h1 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 5vw;
}

.img1,
.hero-container1,
.o1 {
  border-top-left-radius: var(--my-border-radius);
  border-bottom-left-radius: 0;
}

.img4,
.hero-container4,
.o4 {
  border-top-right-radius: var(--my-border-radius);
  border-bottom-right-radius: 0;
}
h2{
  margin-left: 20px;
}

/*------------------fin heroe--------------------*/
header {
  box-shadow: 0px 2px 20px -10px black;
  z-index: -1;
}


#tarjeta {
  display: inline-block;
  margin: 20px;
  box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 20px;
  
}
#tarjeta img {
  border-radius: 10px 10px 0px 0px;
}
.nombre {
  margin-left: 150px;
  margin-top: -90px;
}

#innum {
  width: 80px;
}
h1 {
  margin-left: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#btnConfirmar {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  margin-inline: 50%;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  
}
#iralcarrito , #pagar, #btnContinuar {
  background-color: #11fd0d;
  border-color: #000; display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  margin: 50px;
  padding: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
  
#quitar{
  background-color: #fd2d0d;
  border-color: #000; display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  margin: 50px;
  padding: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#btnClear{
  background-color: #0d6efd;
  border-color: #000000; 
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.75rem .75rem;
  margin: 20px;
  font-size: 1rem;
  width: 20%;
  margin-left: 35%;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.logoHolder {
  border-bottom: 1px solid #666674;
  border-top: 1px solid #666674;
  background: rgb(4, 5, 5, 0.5);
  padding: .8rem;
}

.factura{
  margin-left: 15%;
  margin-right: 20%;
  border-style: dashed;
  padding: 10px;

}
#showdata {
  text-align: justify !important;
}
.menu {
  background-color: #476d6d;
}

/**************** menu burger -------------------*/
.btnmb
{
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  padding: 16px;
  background: #FFE01A;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.span {
  margin-left: -5px;
}
.btn .bar1, .btn .bar2, .btn .bar3
{
  height: 4px;
  width: 100%;
  display: block;
  background: #000;
}

/* ----------- close btn ------------- */
.close-btn
{
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  padding: 20px;
  background: #FFE01A;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.close-btn .bar1
{
  transform: rotate(-130deg);
  height: 4px;
  width: 90%;
  display: block;
  background: #000;
  position: absolute;
}

.close-btn .bar2
{
  display: none;
}

.close-btn .bar3
{
  transform: rotateZ(130deg);
  height: 4px;
  width: 90%;
  display: block;
  background: #000;
  position: absolute;
}

/* ------------- Hide menu ----------- */
.menu
{
  display: none;
}

/* ------------------- Menu styling --------------- */
.open-menu
{
  width: 100%;
  height: 100vh;
  background: #FFE01A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s all;
}

.open-menu ul
{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.open-menu ul li
{
  list-style: none;
  padding: 6px;
}

.open-menu ul li a
{
  text-decoration: none;
  font-size: 5vw;
  font-weight: 800;
  color: #000;
}

.open-menu ul li a:hover
{
  border-bottom: 5px solid #000;
  transition: 0.2s all;
}

/*************** fin menu burger--------------------*/

.responsiveContainer {
  display: flex;
  flex-Direction: row;
}



.links {
  list-style: none;
  display: flex;
  flex-Direction: row;
  justify-content: flex-end;
  margin: 0px;
}

.link{
  position: relative;
  cursor: pointer;
  border-bottom: .2rem solid #000;
  transition-property: background, color;
  transition-duration: 100ms;
  text-transform: uppercase;
  font-weight: 200;
}

.link a{
  padding-top: 1.2rem;
  padding-left: 1.6rem;
  margin-right: 2rem;
}

.link.active {
  border-color: var(--main-color);
}

li.link:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.link:hover {
  border-color: #fff;
}

.link ul {
  border: 1px solid #666674;
  padding: 0rem;
  list-style: none;
  color: black;
  background: white;
  position: absolute;
  top: 3.4rem;
  left: .5rem;
  display: none;
  box-shadow: 0px 2px 20px -10px black;
  border-radius: 7px;
  z-index: 1;
}

.link ul li {
  padding: 1rem;
}


.link ul li:hover {
  background: var(--main-color);
  border-color: var(--main-color);
  color: #fff;
}


.link ul li:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}


.link ul li:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.link ul.active {
  display: block;
}

#logowadabi {
  width: 4rem;
  margin-top: -25px;
}

/*--------------- cards---------*/

#hr {
  margin: 0;
  border-top: 3px solid transparent;
}

.card-body,.text {
  margin-left: 10px;
}
/* Product section styling */
#pedido img{
  margin-left: 20px;
  width: 50px;
}

tr {
  background-color: rgb(251, 251, 251);
}

td {
  justify-items: center;
}
.products {
  padding: 20px;
  margin: 20px;
  padding-bottom: 80px;
}

.buttons button {
  margin: 5px;
}

.item {
  color: black;
  background: #F5F7F7;
  width: 31%;
  margin: 1.1%;
  display: inline-block;
  flex-direction: row;
  align-items: baseline;
  border: 1px solid #c9cccc;
  padding: 2rem;
  transition-property: padding;
  transition-duration: 1000ms;
}

.productsHeader {
  margin-bottom: 30px;
}

.navBar {
  background:#000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #666674;
}

.navBar a{
  display: flex;
  align-items: center;
  color:#fff;
}

.fa{
  margin-left: 1rem;
}

.logoContainer {
  margin: 1rem;
}

.responsiveContainer {
  display: flex;
  flex-Direction: column;
}

.logo {
  font-weight: bold;
  color: #666674;
  text-decoration: none;
  letter-spacing: .3em;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
}

.burger div {
  border: 0rem;
  padding: .2rem;
  background: rgb(255, 255, 255);
  margin: .3rem;
  width: 2.5rem;
}

.grid-container {
  max-width: 2700px;
  margin: 0 auto;
}

.title1 {
  letter-spacing: .1em;
  font-size: 28px;
  font-weight: 500;
}

wiw:hover {
  text-decoration: underline;
  cursor: default;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card {
  display: inline-block;
}


/*----------------cart----------------*/

.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: auto;
  padding-inline: 30px;
}


/* ------Sucursales-------- */

.sucursales{
  width: 100%;
  max-width: 90vw;
  margin: 1rem auto;
}

.barrios{
  text-align: center;
  align-items: center;
}

.barrios p{
  font-size: 24px;
  font-weight: bold;
}

iframe{
  max-width: 100%;
}

.sucursubtile{
  margin: 1em;
  font-size: 32px;
  font-weight: bold;
}

footer .container{
  background-color:#F5F7F7;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.redsoc{
  margin:1em;
}

.redsoc:hover{
  color:brown;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  margin: 0;
}

.list-group {
  width: 90%;
}

#containerSlider{
    /* margin: auto; */
    width: 1;
    text-align: center;
    padding-top: 9;
    /* box-sizing: border-box; */
}
#containerSlider img
{
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}
/*-----buscador--------*/
#searchbar{
  float: left;
  margin-top: 20px;
  font-size: medium;
}

#searchbar p{
  margin-left: 20px;
}

.productos {
  display: inline-table;
  list-style: none;
}
/*---------fin buscador----------*/


/*---------footer----------*/

#containerFooter
{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}

.webFooter{
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  font-size: 12px;
  padding-left: 2em;
}

#credit {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a{
    color: white;
    text-decoration: none;
    position: relative;
}

#credit a::after{
content: "";
background: white;
mix-blend-mode: exclusion;
width: calc(100% + 18px);
height: 0;
position: absolute;
bottom: -4px;
left: -10px;
transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#credit a:hover::after{
    height: calc(100% + 8px)
}
/*---------fin footer----------*/

/* --------About----------------- */

.tituloSN{
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.containerSN img{
  width: 60%;
  object-fit: cover;
}

.containerSN{
  display: flex;
  gap: 2rem;
  margin: 3rem;
}

#despedida{
  margin-left: 70px;
}
/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width:320px) {
  .title1 {
    font-size: 21px;
  }
}

@media(max-width:360px) {
  .title1 {
    font-size: 22px;
  }
}

@media(max-width:400px) {
  .title1 {
    font-size: 23px;
  }
}

@media(max-width:440px) {
  .title1 {
    font-size: 24px;
  }
}

@media(max-width:480px) {
  .title1 {
    font-size: 25px;
  }
}

@media(max-width: 732px)
{
    #containerSlider img
    {
        height: 12em;
    }
}
@media(max-width: 500px)
{
    #containerSlider img
    {
        height: 10em;
    }
}
@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    .webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    .webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}



@media (min-width:768px) and (max-width:820px) {
  .link {
    padding: 1rem 1rem;
  }

  .logo {
    letter-spacing: 0;
  }
}



@media(max-width:850px) {


  nav ul{
    width:auto;}
  nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;}

  #containerSlider {
    display: none;
  }

  .logoContainer {
    display: block;
  }

  .links {
    display: flex;
    flex-Direction: column;
    justify-content: left;
    margin-left: -90px;
    margin-top: 50px;
  }

  .links.hide {
    display: none;
  } 

  .burger {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
  }

  .link {
    padding: .7rem 1rem 1rem 0.rem;
    /* margin-left: 10px; */
    cursor: pointer;
  }

  .link:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #FFFFFF;
  }

  li.link:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  li.link:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .link ul {
    position: static;
    margin-top: 1rem;
    box-shadow: none;
    border: none;
  }

  .link ul li {
    Position: static;
    background: var(--main-color);
    color: #FFFFFF;
  }

  .link ul li:hover {
    background: white;
    color: black;
  }


  .hero-container5 {
    display: none;
  }

  .heros-section {
    grid-template-areas: 'a1'
      'a2'
      'a3'
      'a4';
    grid-gap: .1rem;
    --my-border-radius: .6rem;
  }

  .img1,
  .hero-container1,
  .o1 {
    border-top-left-radius: var(--my-border-radius);
    border-top-right-radius: var(--my-border-radius);
  }

  .img2,
  .hero-container2,
  .o2 {
    border-top-right-radius: 0;
  }

  .img3,
  .hero-container3,
  .o3 {
    border-bottom-left-radius: 0;
  }

  .img4,
  .hero-container4,
  .o4 {
    border-bottom-right-radius: var(--my-border-radius);
    border-bottom-left-radius: var(--my-border-radius);
  }
}


@media (max-width:375px) {
  .burger {
    top: 1rem;
    left: 1rem;
  }

  .logo {
    letter-spacing: 0;
  }
}



@media screen and (max-width: 800px) {
  table#cart tbody td .form-control {
    width: 13rem;
    display: inline-block;
    padding: 10px;
  } 

  table#cart thead {
    display: none;
  }
  #searchbar{
    display: none;
  }
  #hero2 {

    display: block;
    color: transparent;
  }
  .burger {
    position: sticky;
    background-color: rgb(0, 0, 0);
  }

  .logoContainer{
    display: b;
  }
  table#cart tbody td {
    flex-wrap: nowrap;
    display: grid;
    margin-top: 20px;
  }

  table#cart tbody tr td:first-child {
 width: 100%;
    color: rgb(0, 0, 0);
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 13rem;
    padding: 10px;
  }

  section {
    height: 100%;
  }


  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }

}


@media(max-width:1024px) {

  .heros-section {
    grid-template-areas: 'a1 a2'
      'a5 a5'
      'a3 a4';
    grid-gap: .2rem;
    --my-border-radius: .7rem;
  }

  .my-overlay-fixed h1 {
    font-size: 1.6em;
  }

  .img1,
  .hero-container1,
  .o1 {
    border-top-left-radius: var(--my-border-radius);
    border-bottom-left-radius: 0;
  }

  .img2,
  .hero-container2,
  .o2 {
    border-top-right-radius: var(--my-border-radius);
  }

  .img3,
  .hero-container3,
  .o3 {
    border-bottom-left-radius: var(--my-border-radius);
  }

  .img4,
  .hero-container4,
  .o4 {
    border-bottom-right-radius: var(--my-border-radius);
    border-top-right-radius: 0;
  }

}

@media(min-width:1800px) {

  .heros-section {
    grid-gap: .4rem;
    --my-border-radius: 1rem;
  }
}


