.tip-section {
    width: 70%;
    margin: 5% auto;
    padding: 3rem 5rem;
    background: var(--main-color);
    border-radius: .5rem;
    color: white;

}

.tip-section p {
    line-height: 1.6;
    font-size: 20px;
    text-align: justify;
}

@media(max-width:350px) {
    .tip-section {
        width: 85%;
    }
    .tip-section p {
       font-size: 14px; 
    }
    .tip-section {
        padding: .9rem .5rem;
    }
}

@media(max-width:450px) {
    .tip-section {
        width: 78%;
    }
    .tip-section {
        padding: 1rem .5rem;
    }
    .tip-section p {
       font-size: 16px; 
    }
}

@media(max-width:767px) {
    .tip-section {
        width: 73%;
    }
    .tip-section {
        padding: 1rem 1rem;
    }
    .tip-section p {
       font-size: 17px; 
    }
}
