.side-menu {}

.menu-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 1rem;
}

.menu-list-item {
    padding: 0.5rem 1rem 1rem 1rem;
    border-bottom: 1px solid #c9cccc;
}

.menu-list-item:last-child {
    border-bottom: 0px solid #c9cccc;
}

.search-section {}

.search-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-section ul li {
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-title {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6;
    margin: .5rem 3rem;
    text-align: center;
}
.side-menu-head{
    display: none;
    background: #666674;
    color:#f9fcfc;
    padding: 1rem 2rem;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 15px -6px #666674;
    transition-property: background, color, box-shadow;
    transition-duration: 100ms;
}

.side-menu-head i{
    font-size: 1.2em;
}

.side-menu-head:hover{
    color: #666674;
    background: #f9fcfc;
    box-shadow: 2px 2px 15px -6px #666674;
}

@media(max-width: 991px){
 .side-menu-head{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
}   
    .menu-list.smallScreenHide{
        display: none;
    }
}