* {
    box-sizing: border-box;
}

body {
    background: #F5F7F7;
    margin: 0px;
    font-family: Raleway, arial;
    --main-color: #E19F67;
}

.spread-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin: 15px 0;
}

.side-menu {
    grid-area: sidemenu;
    width: 100%;
    background: white;
}

.items {
    grid-area: items;
    width: 100%;
    background: white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1170px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 'sidemenu items items items';
    margin: 15px auto;
}

@media(max-width: 1199px) and (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(max-width: 991px) and (min-width:768px) {
    .container {
        width: 750px;
        grid-template-areas: 'sidemenu' 'items';
        
    }
}

@media(max-width: 767px) {
    .container {
        width: auto;
        grid-template-areas: 'sidemenu' 'items';
    }
}
